.atom--button {
  &:active,
  &:focus,
  &:hover {
    outline: 2px solid #075985;
    outline-offset: 4px;
  }
  &.xs {
    font-size: smaller;
  }
  &.s {
    font-size: small
  }
  &.m {
    font-size: medium;
  }
  &.l {
    font-size: large;
  }
  &.xl {
    font-size: larger;
  }
}