.atom--button {
  box-sizing: border-box !important;
  padding: 8px 24px;
  &.primary {
    background-color: var(--primary-color);
    &:hover,
    &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 4px;
    }
  }
  &.secondary {
    background-color: var(--white);
      color: var(--secondary-color);
      outline: 2px solid var(--secondary-color);
      padding: 6px 22px;
      margin-top: 2px;
      margin-left: 2px;
    &:hover,
    &:focus {
      outline: 2px solid var(--secondary-color);
      outline-offset: 4px;
    }
  }
}