<header class="bg-primary-color h-20 flex items-center px-5">
  <div class="flex items-center grow">
    <jrs-logo [color]="'white'" class="w-28"></jrs-logo>
    <h1 class="text-white ml-5">Project Dashboard</h1>
  </div>
  <div class="flex justify-end content-evenly">
    <jrs-nav-link
      linkTo="/projects"
      linkText="PROJECTS"
      class="ml-4"
    ></jrs-nav-link>
    <jrs-nav-link
      linkTo="/projects"
      linkText="COMPANIES"
      class="ml-4"
    ></jrs-nav-link>
    <jrs-nav-link
      linkTo="/projects"
      linkText="CONSULTANTS"
      class="ml-4"
    ></jrs-nav-link>
  </div>
</header>

<router-outlet></router-outlet>
