:root {
  --white: #fff;
  --light-grey: #F7F7F7;
  --grey: #C6C6C6;
  --darker-grey: #484848;
  --black: #000;
  --primary-color: #E51E59;
  --secondary-color: #484848;

  --success: #378288;
  --warning: #F4B63F;
  --info: #0C7999;
  --error: #E65029;
}