:root {
  --white: #fff;
  --light-grey: #F7F7F7;
  --grey: #C6C6C6;
  --black: #484848;
  --primary-color: #E51E59;
  --secondary-color: #484848;



  --success: #378288;
  --warning: #F4B63F;
  --error: #C53D34;
  --color1: #EF6664;
  --color2: #34270e;
  --color3: #66AEB9;
  --color4: #378288;
}