:root {
  --white: #fff;
  --light-grey: #f7f7f7;
  --grey: #c6c6c6;
  --darker-grey: #484848;
  --black: #000;
  --primary-color: #e51e59;
  --secondary-color: #484848;

  --success: #378288;
  --warning: #b5862f;
  --info: #0c7999;
  --error: #b33d20;
  --neutral: #87446d;
}
