<header class="bg-primary-color h-20 flex items-center px-5">
  <div class="flex items-center grow">
    <jrs-logo
      [color]="'white'"
      class="w-28 hover:cursor-pointer"
      (click)="handleLogoClickEvent()"
    ></jrs-logo>
    <h1 class="text-white ml-5">{{ headerTitle }}</h1>
  </div>
  <div class="flex justify-end content-evenly">
    <jrs-nav-link
      *ngFor="let link of navLinks"
      [linkTo]="link.to"
      [linkText]="link.text"
      (linkClickEvent)="handleLinkClickEvent($event)"
      class="ml-4"
    ></jrs-nav-link>
  </div>
</header>
