<ng-container *ngIf="projectsLoading$ | async; else display_grid">
  <jrs-loader></jrs-loader>
</ng-container>

<ng-template #display_grid>
  <div class="container mx-auto">
    <div class="mt-5">
      <jrs-project-status-group
        [projects]="projects$ | async"
        (selectedStatus)="handleSelectedStatus($event)"
      ></jrs-project-status-group>
      <h1>All Projects</h1>
      <hr />
      <jrs-project-grid
        [projects]="filteredProjects$ | async"
      ></jrs-project-grid>
    </div>
  </div>
</ng-template>
